@import '../../../scss/var.scss';
@import '../../../scss/border.scss';

.wrapper{
    position: relative;
}

.input{
    @include Text-font;
    @include border;
    width: calc(380px - 16px*2);
    height: 54px;
    
    
    &:focus{
        outline: 1px solid $input-border-color;
    }

    &__filled{
        @include Helper-text-font;
        position: absolute;
        left: 12px;
        top: 0;
        transform: translateY(-50%);
        padding: 0 4px;
        background-color: $background-color;
        transition: 0.2s;
        opacity: 0;
    }

    &__helper-text{
        @include Helper-text-font;
        color: $helper-text-color;
        font-weight: 400;
        margin: 2px 16px 0;
    }
}

.error{
    color: $error-color;
    border-color: $error-color;
}

@media (max-width: 390px) {
    .input{
        width: calc(328px - 16px*2);
    }
}

// .input:invalid ~ .input__helper-text{
//     color: $error-color;
// }